{{page-title (t "page_titles.candidates")}}

<nav class="navbar navbar-dark bg-dark mb-3">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
            {{t "chrome.site_title" htmlSafe=true}}
        </span>
    </div>
</nav>

{{!--
    Candidates is now the default route

    {{link-to "Candidates" "candidates"}}
 --}}

<div class="container pb-3">
    {{outlet}}
</div>
